@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@import "tailwindcss";

/* Couleurs */
@theme {
    --color-c1 : #1F1610;
    --color-c2 : #57514D;
    --color-c3 : #EDE4DA;
    --color-c4 : #FFFCF7;

    /* Hover*/
    --color-c1hov : #2A312F;
    --color-c3hov : #E3D8CC;

    /* Fonts */
    --font-sans: "Roboto", system-ui, -apple-system, sans-serif;
    --font-serif: "Source Serif 4", Georgia, serif;
}

/* Utilitaires Tailwind-like pour fonts */
.font-sans { font-family: var(--font-sans); }
.font-serif { 
    font-family: var(--font-serif);
    font-variation-settings: "opsz" 32; /* valeur optique pour texte normal */
    font-feature-settings: "liga", "kern"; /* typographie pro */
    font-optical-sizing: auto; 
}
